alltoall/time_alltoallv
barrier/barrier_demo_mpi
barrier/lb_demo_mpi
bucketsort/sequential-bucketsort
file-writing/file_writing_mpi
hello-world/spmd_hello_world
mandelbrot/pmandel
monte-carlo.animation/monte
monte-carlo.animation/monte-anim
monte-carlo/smcpi
parallel-io/io1
parallel-io/io2
parallel-io/io3
parallel-io/io4
parallel-sum/seq_sum
parallel-sum/spmd_sum_0
parallel-sum/spmd_sum_1
parallel-sum/spmd_sum_2
parallel-sum/spmd_sum_3
parallel-sum/spmd_sum_3_64bit
prefix-sums/parallel_prefix
prefix-sums/sequential/seq_prefix_sums
random/random
random/sequential/seq_random
remote-memory-access/cpi-rma
spawn-ex1/coordinator
spawn-ex1/worker
spawn-ex2/pcp
spawn-ex2/pcp_slave
token-ring/token_ring_mpi


